<!DOCTYPE html>
<html>

<%- include('./partials/head') %>

  <body>
    <div class="conteiner">
      <nav>
        <ul class="menu">
          <a href="/cadastro/criar">
            <li>
              Cadastro
            </li>
          </a>
          <a href="/cadastro/lista">
            <li>
              Lista
            </li>
          </a>
        </ul>
      </nav>
      <section class="conexao">
        <h1>Cadastro de usuario</h1>
        <hr><br><br>
        <p>você cadastrou um usuario</p>

        
      </section>
    </div>



  </body>

</html>
