<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Error</title>
  </head>
  <body>
    <h1>Error</h1>
    <p>Desculpe, ocorreu um erro inesperado.</p>
    <p><%= message %></p>
  </body>
</html>
